.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.cell.empty:nth-child(even) {
  background-color: #fff;
}

.cell.empty:nth-child(odd) {
  background-color: #eee;
}

.cell.start {
  background-color: #38a169;
}

.cell.end {
  background-color: #e53e3e;
}

.cell.path {
  background-color: #9F7AEA;
}

.cell.explored {
  background-color: #D6BCFA;
}

.cell.obstacle {
  background-color: #718096;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
}
